.App {
}


/*******/

.editor-container {
  margin: 30px auto;
  border: 1px solid black;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}


.popping {
  width: 180px;
  background: rgb(235, 235, 235);
  border: 1px solid rgb(202, 202, 202);
}